html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

h1 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 122px;
    line-height: 94.3px;
}

h2 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 75px;
    line-height: 36px;
}

h3 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 55px;
    line-height: 36px;
    margin: 0;
}

h4 {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 45px;
    line-height: 36px;
    margin: 0;
}

button {
    font-family: 'East Sea Dokdo', cursive;    
    font-size: 45px;
    line-height: 29px;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 45px;
    line-height: 29px;
    text-decoration: none;
    color: #201e21;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

header {
    min-height: 100vh;
    background-image: url(./assets/paint1.png);
}

ul.headerNav {
    margin: 0;
    padding-top: 10px;
}

.headerNav {
    display: flex;
    padding: 0;
}

.headerNav li {
    margin-right: 30px;
}

.About {
    min-height: 40vh;
    background-color: #ffe9e9;
    padding: 50px 0;
}

.newProduct {
    display: flex;
    /* flex-wrap: wrap; */
}

.newProduct img {
    max-width: 30%;
    height: auto;
    object-fit: contain;
    margin-right: 40px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutText h2 {
    margin: 0px;
}

.aboutButton {
    background-color: #017ba5;
    max-width: fit-content;
    padding: 10px 15px;
    border: none;
    color: white;
}

.latestExhibition {
    background-color: #f7dae8;
    padding: 100px 0;
}

.latestExhibition h2 {
    margin: 0px;
    text-align: center;
    padding-bottom: 40px;
}

.gallery {
    display: flex;
}

ul.gallery {
    padding: 0;
}

.gallery img {
    padding: 0 15px;
}

.icons {
    background-color: #ffe9e9;
}

.categoryIcons {
    color: #0178A5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    min-height: 40vh;
}

.categoryIcons img {
    color: #0178A5;
    max-width: 30%;
    margin-top: 40px;
}

.categoryIcons h3 {
    margin: 15px 0;
    padding: 0;
}

.item3 h3 {
    margin-top: 0;
}

.item1 a, .item2 a, .item3 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blog h2 {
    margin: 0;
}

.blog1, .blog2 {
    background-color: #f7dae8;
    display: flex;
}

.blog1 img, .blog2 img {
    min-width: 50%;
}

.blog1Text, .blog2Text {
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogButton  {
    background-color: #a7059b;
    color: white;
    width: fit-content;
    padding: 15px 20px;
    margin-top: 10px;
}

footer {
    background-color: #ffe9e9;
    padding: 40px 0;
}

footer h3 {
    margin-top: 0;
    text-align: center;
    padding: 30px 0;
}

.footerNav {
    display: flex;
    justify-content: space-between;
}

ul.footer {
    margin: 0;
    padding: 0;
}

.footerMenu a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ctaForm {
    display: flex;
}

input[type="text"]::placeholder {
    font-family: 'Roboto', sans-serif;
    width: 75%;
}

input[type="text"] {
    border: none;
    padding: 15px 20px;
}

button[type="submit"] {
    background-color: #0178A5;
    border: none;
    padding: 10px 15px;
    color: white;
    margin: 0;
}

.contact {
    text-align: right;
}

.contact p {
    margin: 0;
}

.contact h4 {
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .images {
        width: calc(50% - 10px);
    }

    header {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .newProduct {
        flex-direction: column;
    }

    .newProduct img {
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .newProduct h2 {
        padding: 10px 0;
        line-height: 60px;
    }

    .aboutButton {
        margin: 0 auto;
    }

    .gallery, .categoryIcons {
        flex-direction: column;
    }

    .categoryIcons {
        padding: 40px 0;
    }

    .blog1, .blog2 {
        flex-direction: column;
    }

    .blog1Text, .blog2Text {
        text-align: center;
    }

    /* Attempting to position the image above the text */
    /* .blog1 {
        position: relative;
    }

    .blog1 img {
        position: absolute;
        top: 0;
    } */

    .blogButton {
        margin: 0 auto;
    }

    .footerNav {
        flex-direction: column;
    }

    footer {
        position: relative;
    }

    ul.footerMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        /* Attempt to position above header */
        /* position: absolute;
        top: 0; */
    }

    .cta p {
        text-align: center;
    }

    .ctaForm {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    input[type="text"]::placeholder {
        text-align: center;
    }

    button[type="submit"] {
        max-width: fit-content;
        margin: 15px auto;
    }

    .contact {
        text-align: center;
        margin-top: 10px;
    }
}